@font-face{
  font-family: 'MuseoSansCyrl-500';  
  src: url('../fonts/MuseoSansCyrl-500.ttf');  
  src: url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');  
  font-weight: normal;  
  font-style: normal;  
  }

  //breakpoints
  $tablets: 768px;
  $phones: 480px;
  
@import "_misc/mixins.scss";
@import "_misc/normalize.scss";
@import "_misc/header.scss";
@import "_misc/layout.scss";
@import "_misc/logo.scss";
@import "_misc/phone.scss";
@import "_misc/nav.scss";
@import "_misc/nav__sidebar.scss";
@import "_misc/welcome.scss";
@import "_misc/why.scss";
@import "_misc/review.scss";
@import "_misc/section__header.scss";
@import "_misc/command.scss";
@import "_misc/menu.scss";
@import "_misc/order.scss";
@import "_misc/form.scss";
@import "_misc/map.scss";
@import "_misc/footer.scss";
@import "_misc/nav--hidden.scss";
@import "_misc/slider.scss";
@import "_misc/modal.scss";
@import "_misc/video.scss";