html,
body{
    height: 100%;
}

body{
    margin: 0px;
    font: 'Alegreya Sans'; 
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    }

.wrapper{
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;

}

h1,
h2,
h3,
h4,
h5,
h6{
    margin-top: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
  }
  
  ul{
      margin: 0;
      padding: 0;
      padding-inline-start: 0;
      li{
        list-style: none;
      }
  }
  
    
  a{
      text-decoration: none;
  }
  
  .footer {
      position: relative;
      width: 100%;
  }

  p{
      margin: 0;
      padding: 0;
  }

  .section{
      height: 100vh;
      min-height: 650px;
  }

.conteiner{
    position: relative;
    width: 940px;
    margin: 0 auto;
 
}