.map{

   background-color: #cfdeda;
	min-height: 33.25rem;
   display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	@include tablets {
        height: 630px;
        }
	@include phones {
		min-height: 24.25rem;
    }
}



#map{
width: 100%;
height: 100%;
position: absolute;
top: 0;
}