.nav__menu {
  
  @include tablets {
    display: none;
}
@include phones {
    display: none;
}
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    .nav__item{
padding: rem(0px) rem(13px);

    }
    .nav__item-link{
      color: #ffffff;
      font-size: rem(18px);
      z-index: 2;
    }
  }