  
.nav__sidebar{

  @include tablets {
      display: none;
  }
  @include phones {
      display: none;
  }
    .nav__menu{
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 33%;
      right: rem(32px);
      z-index: 3;
    } 
   

    .nav__item{
      position: relative;
      margin-bottom: rem(10px);
  &::after{
      content:'';
      position: absolute;
      width: rem(6px);
      height: rem(6px);
      display: block;
      border-radius: 50%;
background-color: #ffffff;
    margin-bottom: rem(3px);
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   }
      &--active::before {
      content:'';
      width: rem(12px);
      height: rem(12px);
      border: rem(2px) solid #ffffff;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
    .nav__item-link{
      display: block;
      width: rem(12px);
      height: rem(12px);
    }
  }