  
.nav__sidebar{
    .nav__menu{
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 31%;
      right: 32px;
      z-index: 3;
    } 
   
    .nav__item::after{
      content:'';
      position: relative;
      width: 6px;
      height: 6px;
      display: block;
      border-radius: 50%;
background-color: #ffffff;
    margin-bottom: 3px;
    z-index: 3;

   }
  
    .nav__item--active::before {
      content:'';
      width: 12px;
      height: 12px;
      border: 2px solid #ffffff;
      border-radius: 50%;
      position: absolute;
      top: 7px;
      right: 14px;
    }
    .nav__item-link{
      display: block;
      width: 12px;
      height: 12px;
    }
  }