.slider__section{
    position: relative;
      display: flex;
      background-color:  #f8faf9;
      font-family: Alegreya Sans;
      color: #333333;
}

.slider__conteiner{
    display: flex;
}

.slider__arrow-left{
    position: absolute;
    top: 52%;
    left: 3.125rem;
    background-image: url('../../img/arrow-scroll_l.png');
    background-repeat: no-repeat;
    height: 2.1875rem;
    width: 1.5625rem;
}

.slider__arrow-right{
    position: absolute;
    top: 52%;
    right: 2.875rem;
    background-image: url('../../img/arrow-scroll_r.png');
    background-repeat: no-repeat;
    height: 2.1875rem;
    width: 1.5625rem;
}


.slider-item   {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .slider__img{
        display: block;
        z-index: 2;
    }
.slider__pict{  
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin-right: 3rem;
width: 61%;
    height: 12.5rem;
    &:before{
        position: absolute;
        content: ' ';
        background-image: url('../../img/slid_el1.png');
        background-repeat: no-repeat;
        min-height: 19.0625rem;
        min-width: 24.0625rem;
        top: -1rem;
        right: 2.3125rem;
        z-index: 1;
    }
    &:after{
        position: absolute;
        content: ' ';
        background-image: url('../../img/slid_el2.png');
        background-repeat: no-repeat;
        min-height: 19.0625rem;
        min-width: 24.5625rem;
        top: 3.375rem;
        right: 2.25rem;
        z-index: 0;
    }

}


.slider__article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 5.5625rem;
    z-index: 2;
}


.slider__header{
    font-size: 2.25rem;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 1.3125rem;
}


.slider__consist{
    &-header{
        font-size: 1.5rem;
        margin-bottom: 1.125rem;
    }

    &-text{
        font-size: 1.125rem;
        color: #666666;
        width: 86%;
    line-height: 1.375rem;
    margin-bottom: 2.5rem;
    }
}

.slider__charact{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    font-size: 1.125rem;
    margin-bottom: 1.9375rem;
}

.slider__charact-item{
    margin-right: 2.8125rem;

}

.slider__charact-value{
    font-weight: bold;
}

.slider__footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    font-size: 3.75rem;
    color: #0d0d0d;
}

.slider__price{
    margin-right: 1.8125rem;
}

.slider__button{
    color: #fff;
    font-size: rem(19px);
    font-weight: 800;
    text-transform: uppercase;
    background-color: #0f5a47;
    border: none;
    border-radius: 2rem;
    padding: rem(18px) rem(34px);      
    margin-right: rem(21px);
    &:hover{
        background-color: #0b4d3c;  
    }
}

.slider__pattern-leaf{
    position: absolute;
    left: 4.875rem;
    bottom: 5.875rem;
}

.slider__pattern-leaf1{
    position: absolute;
    right: 0rem;
    bottom: -22.8125rem;
    width: 12.25rem;
}

.slider__pattern-berry{
    position: absolute;
    right: 0.9375rem;
    bottom: -4.625rem;
    width: 8.4375rem;
}
