
  
  .why{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Alegreya Sans;
    @include tablets {
      height: 1180px;
    }
    @include phones {
      height: 1100px;
    }
  
    svg{
      height: rem(70px);
      fill:  #f2f5f4;
      stroke:  #2a2a29;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
  }
  
  .why-question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: rem(55px);
  }
  
  .why-question__header{
    color: #0d0d0d;
    text-transform: uppercase;
    font-size: rem(48px);
    font-weight: bold;
    @include tablets {
      font-size: rem(48px);
    }
    @include phones {
      font-size: rem(40px);
    }
  }
  
  .why-question__text{
    color:#666666;
    font-size: rem(18px);
    text-align: center;
    line-height: rem(22px);
    padding-left: rem(11px);
    width: 55%;
    @include phones {
      width: 83%;
    }
  }
  
  .why-answer__list{
    display: flex;
    justify-content: center;
    @include tablets {
      flex-direction: column;
      align-items: center;
    }
    @include phones {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .why-answer__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: rem(62px);
    &:last-child{
      margin-right: rem(0px);
    }
    @include tablets {
      margin-right: rem(0px);
      width: 40%;
      margin-bottom: 3.5rem;
    }
   @include phones {
    margin-right: 0rem;
    width: 55%;
    margin-bottom: 3.5rem;
   }
  }
  .why-answer__item-pict{
    position: relative;
    background-color: #f2f5f4;
    width: rem(125px);
    height: rem(125px);
    border-radius: 50%;
    margin-bottom: rem(26px);
    @include phones {
      width: 8.8125rem;
      height: 8.8125rem;
      margin-bottom: 1.5rem;
    }
  }


  .why-answer__item-pict--middle::after{
 content: '';
 background-image: url('../../img/circles.png');
 width: rem(80px);
 height: rem(26px);
 position: absolute;
 top: 39%;
 right: -126%;
 @include tablets {
  display: none;
}
@include phones {
  display: none;
}
  }

  
  .why-answer__item-pict--middle::before{
    content: '';
    background-image: url('../../img/circles.png');
    width: rem(80px);
    height: rem(26px);
    position: absolute;
    top: 39%;
    right: 149%;
    @include tablets {
      display: none;
    }
    @include phones {
      display: none;
    }
     }
  
  .why-answer__item-header{
    font-size: rem(27px);
    color: #000000;
    font-weight: bold;
    margin-bottom: rem(14px);
    @include tablets {
      margin-bottom: 1.5rem;
    }
   @include phones {
    margin-bottom: 0.5rem;
   }
  }

  
  .why-answer__item-text{
    color:#666666;
    font-size: rem(18px);
    text-align: center;
    line-height: rem(22px);
    font-weight: light;
  }
  
  .why-pattern__leaf{
    position: absolute;
    bottom: rem(122px);
    left: rem(0px);
    z-index: 1;
    @include tablets {
      bottom: 41.625rem;
    }
    @include phones {
      bottom: 43.625rem;
      left: -1rem;
   }  
  }
  
  .why-pattern__berry{
    position: absolute;
    bottom: rem(-134px);
    left: rem(2px);
    z-index: 1;
    @include tablets {
      bottom: -5.375rem;
    }
    @include phones {
      bottom: -8.375rem;
      left: -2.875rem;
   }  
  }